<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VueJS Tutorials</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="vue-app">
      <h1>Data Binding</h1>
      <a v-bind:href="website">KungfuSoftware</a>
      <a :href="website">KungfuSoftware</a>
      <h1>{{ greet("morning") }}</h1>
      <p> {{ name }} </p>
      <p> {{ job }} </p>
      <input type="text" name="" v-bind:value="name">

      <p v-html="websiteTag"></p>

      <h1>Mouse Events</h1>

      <h1>Events</h1>
      <p>My age is {{age}}</p>
      <button v-on:click.once="addAge(1)">Add</button>
      <button @click="subtractAge(1)">Sub</button>
      <button v-on:dblclick="addAge(10)">Add 10 years</button>
      <button @dblclick="subtractAge(10)">Sub 10 years</button>

      <br>
      <br>
      <a @click="click" href="https://vuejs.org/v2/guide/events.html#Event-Modifiers">Event Modifier</a>
      <a @click.prevent="click" href="https://vuejs.org/v2/guide/events.html#Event-Modifiers">Click me nothing happened</a>
      <br>

      <h1>keyboardEvents</h1>
      LogName: <input type="text" value="" @keyup="logName">
      LogName with Enter:<input type="text" value="" @keyup.enter="logName">
      LogAge with Alt and Enter<input type="text" value="" @keyup.alt.enter="logAge">

      <div class="">
        Two Way data binding<input type="text" v-model="newName">
        {{newName}}
      </div>
      <br>

      <h1>Computed Properties seabook</h1>
      <button @click="a++">Add to A</button>
      <button @click="b++">Add to B</button>

      <p>A - {{a}}</p>
      <p>B - {{b}}</p>
      <p>Age + A == {{addToA}}</p>
      <p>Age + B == {{addToB}}</p>

      <h1>Conditional</h1>

      <button @click="error = !error">Toggle Error</button>
      <button @click="success = !success">Toggle Success</button>

      <p v-if="error"> show this error paragraph</p>
      <p v-else-if="success"> show this success paragraph</p>

      <p v-show="error">Show Error</p>
      <p v-show="success">Show Success</p>

      <h1>Dynamic Css</h1>
      <button @click="available = !available">Toggle Available</button>
      <button @click="nearby = !nearby">Toggle Nearby</button>
      <div v-bind:class="compClasses">
        <span class="helloworld">Hello World</span>
      </div>

      <br>
      <br>

      <h1>Loop a list of objects</h1>

      <ul>
        <li v-for="character in characters">{{ character }}</li>
      </ul>

      <ul>
        <li v-for="(ninja, index) in ninjas">{{index}}.{{ ninja.name }} - {{ ninja.age }}</li>
      </ul>

      <template v-for="(ninja, index) in ninjas">
        <h3>{{index}}.{{ ninja.name }} - {{ ninja.age }}</h3>
      </template>

      <template v-for="ninja in ninjas">
        <div v-for="(val, key) in ninja">

          <h3>{{key}}: {{val}}</h3>

        </div>
      </template>

      <h1>Refs</h1>
      <form>
        Seabook <input type="text" ref="seabook" />
        <button @click="readRefs">Submit</button>
        <div>
          <h3>{{refValue}}</h3>
        </div>
      </form>

      <div ref="refDiv">
        <h3>This is a refs div</h3>
      </div>


      <div class="canvas" v-on:mouseMove="updateXY">
        {{x}}, {{y}}
      </div>

    </div>

    <script src="js/app.js"></script>
  </body>
</html>
